@model IEnumerable<WebShop.ViewModel.ShoppingCartModel>
@{
    ViewBag.Title = "Order";
    decimal TotalAmount = 0.00M;
}

<h2>Order</h2>
<table style="width:100%">
    <tr>
        <th></th>
        <th style="text-align:center;">Name</th>
        <th style="text-align:center;">Quantity</th>
        <th style="text-align:center;">Unit</th>
        <th style="text-align:right;">Total</th>
    </tr>
    @foreach (var item in Model)
    {
        TotalAmount += item.Total;
   
<tr>
    <td>
        <img src="@Url.Content(item.Image)"
             class="rounded-circle"
             height="60" width="60"
             asp-append-version="true" style="align-items:center;" />
    </td>
    <td style="text-align:center;">@item.ItemName</td>
    <td style="text-align:center;">@item.Quantity.ToString(format: "#,##0")</td>
    <td style="text-align:center;">@item.UnitPrice.ToString(format: "#,##0.00")</td>
    <td style="text-align:right;">@item.Total.ToString(format: "#,##0.00")</td>
    <td>@Html.ActionLink("Delete", "Delete","Shop" ,new{ id = item.ItemId},null)</td>
</tr>

        }


        <tr style="border-top:2px solid #ff6a00;">
            <td colspan="4" style="text-align:right;">
                <h3>Total Amount</h3>
            </td>
            <td style="text-align:right;">
                <h3>@TotalAmount.ToString(format: "#,##0.00")</h3>
            </td>
        </tr>

        <tr>
            <td colspan="5" style="text-align:right;">
                <input type="button" name="Edit" value="Edit" id="btn1AddCart" class="btn btn-primary" />
                <input type="button" name="Save" value="Save" id="btn2AddCart" class="btn btn-success" onclick="Savedata()" />
        </tr>

</table>
<script type="text/javascript">

    function Savedata() {   
        alert("Save Order Success")
       
    }
</script>

